@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Outfit;
        src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    }

    @font-face {
        font-family: YoungSerif;
        src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
    }
}
